
/*
==========================================================================
Typography style
==========================================================================
*/

:root {
	/* Colors */
	--text_color: #535074;
	--body_text_color: #535074;
	--title_color: #413e66;
	--sub_title_color: #535074;
	--menu_link_color: #413e66;
	--menu_link_hover_color: #1bb1dc;
	--mob_menu_icon_color: #413e66;
	--mob_menu_icon_hover_color: #1bb1dc;
	--Pr_btn_link_color: #fff;
	--Pr_btn_link_hover_color: #ed143d;
	--primary_color: #1bb1dc;
	--success_color: #008000;
	--danger_color: #FF0000;

	/* Border colors*/
	--border_color: #333;

	/* Box shadow colors */
	--box_shadow_color: rgb(68 88 144 / 10%);

	/* Background colors */
	--body_bg_color: #fff;
	--header_bg_color: #fff;
	--footer_bg_color: #fff;
	--Pr_btn_bg_color: #1bb1dc;
	--Pr_btn_bg_hover_color: #0a98c0;
	--primary_bg_color: #1bb1dc;

	/* Font family */
	--text_font_family: 'Poppins', sans-serif;
	--title_font_family: 'Montserrat', sans-serif;

	/* Font weight */
	--font_weight_400: 400;
	--font_weight_500: 500;
	--font_weight_600: 600;
	--font_weight_700: 700;

	/* Font size */
	--font_size_normal: 16px;
	--font_size_small: 14px;
	--font_size_medium: 23px;
	--font_size_big: 30px;
	--font_size_bigger: 53px;

	/* Transition */
	--transition: all 0.45s ease;
}

/*
==========================================================================
Global style
==========================================================================
*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body{
	background-color: var(--body_bg_color);
	color: var(--body_text_color);
	font-family: var(--text_font_family);
	font-size: var(--font_size_normal);
	line-height: 1.6;
	font-weight: var(--font_weight_400);
}

/* Scollbar style */
body::-webkit-scrollbar {
	width: 11px;
}

body {
	scrollbar-width: thin;
  	scrollbar-color: #999 #fff;
}

body:-webkit-scrollbar-track {
	background: #fff;
}

body::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 6px;
	border: 3px solid #fff;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-family: var(--title_font_family);
	color: var(--title_color);
	font-weight: var(--font_weight_700);
}

p {
	color: var(--text_color);
	font-weight: var(--font_weight_400);
	font-family: var(--text_font_family);
	font-size: var(--font_size_normal);
}

ul,
ol {
	list-style: none;
}

/*
==========================================================================
Global class
==========================================================================
*/

/* Container */
._container {
	max-width: 1300px;
	margin: auto;
	padding-left: 80px;
	padding-right: 80px;
}

/* Container full width */
._container_fluid {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

/* Section */
._intro, ._service, ._team, ._pricing {
	background: #F5F8FD;
}

._call_to_action {
	background: #2D2B46;
}

._wyus, ._footer {
	background: #fff;
}

section {
	padding-top: 70px;
	padding-bottom: 70px;
}

._section_headline {
	text-align: center;
	margin-bottom: 50px;
}

._section_headline h2 {
 	font-size: var(--font_size_big);
 	text-transform: capitalize;
 	margin-bottom: 20px;
}

._section_headline p {
	width: 50%;
	margin: auto;
	font-size: var(--font_size_normal);
	color: var(--sub_title_color);
}

._footer {
	padding-top: 70px;
}

/* Row flex box */
._row_f {
	display: flex;
}

._hidden {
	display: none;
}

._clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Button */
._btn ._primary_btn {
	display: inline-block;
	padding: 7px 30px;
	text-transform: uppercase;
	background: var(--Pr_btn_bg_color);
	color: var(--Pr_btn_link_color);
	font-size: 16px;
	font-weight: var(--font_weight_500);
	border-radius: 3px;
	transition: var(--transition);
}

._btn ._primary_btn:hover {
	background: var(--Pr_btn_bg_hover_color);
}

/* Scoll top */

#scrollTop {
	position: fixed;
	bottom: 20px;
	right: 10px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--Pr_btn_bg_color);
	z-index: 999;
	cursor: pointer;
	color: #fff;
	transition: var(--transition);
	opacity: 0;
}

#scrollTop:hover {
	background: var(--Pr_btn_bg_hover_color);
}

._scroll_top_active {
	opacity: 1!important;
}

/*
==========================================================================
Modal css
==========================================================================
*/

/* Terms*/

._terms_container, ._pp_container, ._modal_form {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	visibility: hidden;
	z-index: 1000;
	opacity: 0;
	transition: var(--transition);
}

._terms, ._pp,._modal_form ._contact_form {
	background: #fff;
	max-width: 500px;
	margin: auto;
	margin-top: 50px;
	transform: translateY(-1000px);
	transition: var(--transition);
}

._terms_header, ._pp_header, ._modal_form_header {
	padding: 20px 15px;
	border-bottom: 1px solid #dee2e6;
	display: flex;
	justify-content: space-between;
}

._terms_header h3, ._pp_header h3, ._modal_form_header h3 {
	font-weight: var(--font_weight_400);
	font-size: 20px;
}

._terms_close_icon, ._pp_close_icon, ._modal_form_close_icon {
	cursor: pointer;
	color: #999;
	transition: var(--transition);
}

._terms_close_icon:hover, ._pp_close_icon:hover,
._modal_form_close_icon:hover
{
	color: #333;
}

._terms_body, ._pp_body {
	padding: 15px;
	font-weight: 300;
}

/* Modal form */
._modal_form_header {
	margin-bottom: 15px;
}

._modal_form_body {
	padding: 0 15px;
}

/* ==========================================================================
   Header css
   ========================================================================== */

._header {
	background: transparent;
	position: absolute;
	padding: 20px 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: var(--transition);
}

._header_sticky {
	position: fixed;
	background: #fff;
	padding: 10px 0;
}

._header ._topbar {
	margin-bottom: 10px;
}

._header_sticky ._topbar {
	display: none;
}

._header ._topbar ._social_icon {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

._header ._topbar ._social_icon li {
	flex-basis: 30px;
	text-align: center;
}

._header ._topbar ._social_icon li a {
	color: #535074;
	display: block;
	font-size: var(--font_size_small);
	transition: var(--transition);
}

._header ._topbar ._social_icon li a:hover {
	color: #1bb1dc;
}

/* logo */
._logo a {
	color: var(--success_color);
	font-size: var(--font_size_big);
	font-weight: var(--font_weight_500);
}

._logo a span {
	color: var(--danger_color)!important;
}

/* menu */
._navi {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--title_font_family);
}

._menu ul {
	display: flex;
	gap: 10px;
}

._menu ul li a {
	display: block;
	padding: 0 10px;
	font-family: var(--title_font_family);
	font-weight: var(--font_weight_600);
	color: var(--menu_link_color);
	font-size: var(--font_size_small);
	text-transform: uppercase;
	transition: var(--transition);
}

._menu ul li a:hover {
	color: var(--menu_link_hover_color);
}

._mob_menu {
	display: none;
}

/* ==========================================================================
   Intro section css
   ========================================================================== */

._intro {
	height: 100vh;
}

._intro ._row_f {
	justify-content: space-between;
	align-items: center;
}

._intro ._row_f ._left {
	flex-basis: 50%;
}

._intro ._left ._inner h1 span {
	color: var(--primary_color);
}

._intro ._row_f ._right {
	flex-basis: 40%;
}

._intro ._row_f ._right ._inner {
	padding-top: 130px;
}

._intro ._left ._inner h1 {
	font-size: var(--font_size_bigger);
}

._intro ._btn {
	margin-top: 25px;
}

/* ==========================================================================
   Service section css
   ========================================================================== */

._service ._row_g {
	grid-gap: 50px;
}

._service ._col ._items {
	background: #fff;
	padding: 30px;
	cursor: pointer;
	box-shadow: 0 10px 29px 0 var(--box_shadow_color);
	transition: var(--transition);
}

._service ._col ._items:hover {
	transform: scale(1.05);
}

._service ._col ._items ._icon {
	margin-bottom: 15px;
}

._service ._col ._items ._icon span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	margin: auto;
	font-size: 35px;
}

._service ._col:nth-child(1) ._items ._icon span {
	background: #fceef3;
	color: #ff689b;
}

._service ._col:nth-child(2) ._items ._icon span {
	background: #eafde7;
	color: #41cf2e;
}

._service ._col:nth-child(3) ._items ._icon span {
	background: #fff0da;
	color: #e98e06;
}

._service ._col:nth-child(4) ._items ._icon span {
	background: #e1eeff;
	color: #2282ff;
}

._service ._col:nth-child(5) ._items ._icon span {
	background: #e6fdfc;
	color: #3fcdc7;
}

._service ._col:nth-child(6) ._items ._icon span {
	background: #ecebff;
	color: #8660fe;
}

._service ._col ._items ._title {
	margin-bottom: 20px;
}

._service ._col ._items ._title h3{
	text-align: center;
	font-size: 18px;
}

._service ._col ._items ._text ul {
	list-style: disc;
	margin-left: 23px;
}

/* ==========================================================================
   Wy us section css
   ========================================================================== */

._wyus ._row_g {
	grid-gap: 30px;
}

._wyus ._right ._feature_one p {
	margin-bottom: 15px;
}

._wyus ._right ._feature_one p:last-child {
	margin-bottom: 0;
}

._wyus ._right ._feature_tow {
	margin-top: 15px;
}

._wyus ._right ._feature_tow li {
	display: flex;
	gap: 20px;
	margin-bottom: 25px;
}

._wyus ._right ._feature_tow li:last-child {
	margin-bottom: 0;
}

._wyus ._right ._feature_tow li ._icon {
	font-size: 28px;
}

._wyus ._right ._feature_tow li:nth-child(1) ._icon {
	color: #f058dc;
}

._wyus ._right ._feature_tow li:nth-child(2) ._icon {
	color: #ffb774;
}

._wyus ._right ._feature_tow li:nth-child(3) ._icon {
	color: #589af1;
}

._wyus ._right ._feature_tow h3 {
	font-size: var(--font_size_medium);
}

._wyus ._counter {
	margin-top: 70px;
}

._wyus ._counter ._items {
	text-align: center;
}

._wyus ._counter ._nums {
	font-family: var(--title_font_family);
	color: var(--title_color);
	font-weight: var(--font_weight_700);
	font-size: var(--font_size_bigger);
}

._wyus ._counter p {
	color: #8a87b6;
	font-family: var(--title_font_family);
	font-size: 14px;
}

/* ==========================================================================
   Get free section css
   ========================================================================== */
._call_to_action ._row_f {
	align-items: center;
	justify-content: space-between;
}

._call_to_action ._row_f ._col:nth-child(1){
	flex-basis: 70%;
}

._call_to_action ._left h2, ._call_to_action ._left p {
	color: #fff;
}

._call_to_action ._left h2 {
	font-size: var(--font_size_big);
	margin-bottom: 15px;
}

._call_to_action ._row_f ._col:nth-child(2){
	flex-basis: 30%;
}

._call_to_action ._right ._btn {
	text-align: right;
}

._call_to_action ._right ._btn ._action {
	color: #fff;
	display: inline-block;
	border: 2px solid #fff;
	padding: 7px 30px;
	font-size: 18px;
	font-weight: var(--font_weight_700);
	text-transform: uppercase;
	font-family: var(--title_font_family);
	transition: var(--transition);
}

._call_to_action ._right ._btn ._action:hover {
	background: var(--primary_bg_color);
	border-color: var(--primary_color);
}

/* ==========================================================================
   Team section css
   ========================================================================== */

._team ._row_g {
	grid-gap: 15px 30px;
}

._team ._col ._items {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

._team ._col ._items ._rect {
	position: absolute;
	background: #fff;
	left: -85%;
	top: 200%;
	width: 200%;
	height: 200%;
	transform: rotate(30deg);
	z-index: 1;
	opacity: 0.8;
	transition: var(--transition);
}

._team ._col ._items ._rect::before {
	position: absolute;
	content: " ";
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	background: #000;
	transition: var(--transition);
	transition-delay: 0.1s;
}

._team ._col ._items:hover ._rect {
	top: 45%;
}

._team ._col ._items:hover ._rect::before{
	transform: translateY(10px);
}

._team ._col ._items h4 {
	position: absolute;
	top: 70%;
	left: -100%;
	z-index: 3;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	transition: var(--transition);
	opacity: 0;
}

._team ._col ._items:hover h4 {
	left: 15px;
	opacity: 1;
}

._team ._col ._items p {
	position: absolute;
	top: 80%;
	left: 100%;
	right: 5px;
	z-index: 4;
	color: #fff;
	font-size: 14px;
	transition: var(--transition);
	font-style: italic;
	opacity: 0;
}

._team ._col ._items:hover p {
	left: 15px;
	opacity: 1;
}

._team ._col ._items ._socials {
	position: absolute;
	top: -100%;
	right: 15px;
	z-index: 5;
	display: flex;
	gap: 10px;
	z-index: 5;
	padding: 7px 10px;
	transition: var(--transition);
}

._team ._col ._items ._socials:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	z-index: -5;
	transform: skew(-30deg);
}

._team ._col ._items ._socials li a {
	color: #fff;
	transition: var(--transition);
}

._team ._col ._items ._socials li a:hover {
	color: var(--primary_color);
}

._team ._col ._items:hover ._socials {
	top: 0;
}

/* ==========================================================================
   Pricing section css
   ========================================================================== */

._pricing ._row_g {
	grid-gap: 40px;
}

._pricing ._col:nth-child(2) ._cards {
	background-image: url('../img/most-popular.webp');
	background-repeat: no-repeat;
	background-position: right 0;
}

._pricing ._cards {
	box-shadow: 0 3px 0 0 var(--box_shadow_color);
	background-color: #fff;
	transition: var(--transition);
	position: relative;
}

._pricing ._cards::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 5px;
	background-color: var(--primary_bg_color);
	transition: var(--transition);
}

._pricing ._cards:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 29px 0 var(--box_shadow_color);
}

._pricing ._cards:hover::before {
	width: 100%;
}

._pricing ._cards ._card_header {
	text-align: center;
	padding: 35px 0 10px 0;
}


._pricing ._cards ._card_header h2 {
	font-size: var(--font_size_bigger);
}

._pricing ._cards ._card_header h2 ._curency {
	font-size: 30px;
	font-weight: var(--font_weight_400);
	position: relative;
	top: -25px;
}

._pricing ._cards ._card_header h2 ._period {
	font-size: 16px;
	font-weight: var(--font_weight_400);
}

._pricing ._cards ._card_body ._card_title{
	font-size: var(--font_size_medium);
	font-weight: var(--font_weight_400);
	text-align: center;
	margin-bottom: 10px;
}

._pricing ._cards ._card_body ._icon {
	font-size: 25px;
	margin-right: 5px;
	margin-left: 30px;
}

._pricing ._cards ._card_body .fa-times-circle-o {
	color: var(--danger_color);
}

._pricing ._cards ._card_body .fa-check-circle-o {
	color: var(--success_color);
}

._pricing ._cards ._card_body ._list_group ._list_group_item {
	border-top: 1px solid rgba(0,0,0,.125);
    font-weight: var(--font_weight_400);
}

._pricing ._cards ._card_body ._list_group ._list_group_item:last-child {
    border-bottom: 1px solid rgba(0,0,0,.125);

}

._pricing ._cards ._card_footer {
	padding-top: 15px;
	padding-bottom: 30px;
}

._pricing ._cards ._card_footer ._btn {
	text-align: center;
}

._pricing ._cards ._card_footer ._btn ._primary_btn {
	font-size: 13px;
}

/* ==========================================================================
   Footer section css
   ========================================================================== */

._footer ._row_g {
	grid-gap: 30px;
}

._footer._footer_top ._left {
	display: flex;
	justify-content: space-between;
}

._footer._footer_top ._left ._newsletter {
	width: 50%;
}

._footer._footer_top ._left ._usefull_links {
	width: 45%;
}

._footer._footer_top ._left ._footer_brand a {
	font-size: 25px;
	font-weight: var(--font_weight_400);
}

._footer._footer_top ._left ._footer_brand {
	margin-bottom: 30px;
}

._footer._footer_top h4 {
	margin-bottom: 30px;
	font-size: var(--font_size_small);
}

._footer._footer_top p {
	margin-bottom: 25px;
	font-size: var(--font_size_small);
}

._footer._footer_top ._left ._newsletter_form p:nth-child(2) {
	letter-spacing: 1px;
}

._footer._footer_top ._left ._newsletter_form form {
	display: flex;
}

._footer._footer_top ._left ._newsletter_form form input {
	border: 0;
	background: none;
	outline: 0;
	font-family: var(--title_font_family);
	font-size: var(--font_size_small);
}

._footer._footer_top ._left ._newsletter_form form input[type="email"] {
	background: #fff;
	border: 1px solid #d9dde6;
	padding: 8px 10px;
	width: 65%;
}

._footer._footer_top ._left ._newsletter_form form input[type="submit"] {
	background: var(--primary_bg_color);
	border: 1px solid var(--primary_color);
	padding: 8px 0;
	width: 35%;
	color: #fff;
	cursor: pointer;
	transition: var(--transition);
}

._footer._footer_top ._left ._newsletter_form form input[type="submit"]:hover {
	background: var(--Pr_btn_bg_hover_color);
}

._footer._footer_top ._left ._usefull_links ul {
	margin-bottom: 30px;
}

._footer._footer_top ._left ._usefull_links ul li {
	padding-bottom: 8px;
}

._footer._footer_top ._left ._usefull_links ul li a {
	color: #696592;
    font-family: var(--text_font_family);
    font-weight: var(--font_weight_400);
    font-size: var(--font_size_small);
    text-transform: capitalize;
    transition: var(--transition);
}

._footer._footer_top ._left ._usefull_links ._links ul li a:hover {
	color: var(--primary_color);
}

._footer._footer_top ._left ._address ._social_icon {
	display: flex;
	gap: 10px;
}

._footer._footer_top ._left ._address ._social_icon li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	background: var(--primary_bg_color);
	color: #fff;
	font-size: 18px;
	border-radius: 100%;
	transition: var(--transition);
}

._footer._footer_top ._left ._address ._social_icon li a:hover {
	background: var(--Pr_btn_bg_hover_color)
}

._footer._footer_top ._right ._contact_form input,
._footer._footer_top ._right ._contact_form textarea,
._footer._footer_top ._right ._contact_form button,
._modal_form ._contact_form input,
._modal_form ._contact_form textarea,
._modal_form ._contact_form button,
._modal_form ._contact_form select
{
	border: 0;
	background: none;
	outline: 0;
	font-family: var(--title_font_family);
	font-size: var(--font_size_small);
	width: 100%;
	margin-bottom: 20px;
}

._footer._footer_top ._right ._contact_form input,
._footer._footer_top ._right ._contact_form textarea,
._modal_form ._contact_form input,
._modal_form ._contact_form textarea,
._modal_form ._contact_form select
{
	background: #fff;
	border: 1px solid #d9dde6;
	padding: 8px 10px;
}

._footer._footer_top ._right ._contact_form ._btn,
._modal_form ._contact_form ._btn
{
	text-align: center;
}

._footer._footer_top ._right ._contact_form button._submit_btn,
._modal_form ._contact_form ._btn button._submit_btn
{
	display: inline-block;
	background: var(--primary_bg_color);
	color: #fff;
	transition: var(--transition);
	padding: 10px 20px;
	width: auto;
	cursor: pointer;
}

._footer._footer_top ._right ._contact_form button._submit_btn:hover,
._modal_form ._contact_form ._btn button._submit_btn:hover
{
	background: var(--Pr_btn_bg_hover_color);
}

._footer._footer_bottom {
	padding: 30px 0;
	background: #F5F8FD;
}

._footer._footer_bottom ._copyright {
	text-align: center;
	font-weight: var(--font_weight_400);
}

._footer._footer_bottom ._copyright a {
	color: var(--primary_color);
	transition: var(--transition);
}

._footer._footer_bottom ._copyright a:hover {
	color: #0A98C0;
}